linux/OR.png
linux/arduino-ids.txt
linux/install-connector
linux/resources
linux/libs
linux/OpenRobertaConnector.jar
*.tar.gz

osx/Info.plist
osx/arduino-ids.txt
osx/resources
osx/libs
osx/start.sh
osx/package/Distribution
osx/package/ORCON.pkg/
osx/OpenRobertaConnector.jar
*.pkg

windows/arduino-ids.txt
windows/resources
windows/libs
windows/setup.wxs
windows/resources.wxs
windows/libs.wxs
windows/OpenRobertaConnector.exe
windows/*.wixpdb
windows/*.wixobj
*.msi

